.product {
    color: darkred;
}
.user {
    color: blueviolet;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
/* FOOTER STYLES */

/* Footer background color and text color */
.py-5 {
    color: rgb(255,255,255);
    background-color: rgb(060,060,060);
}
/* Inner Footer left right padding */
.fs-footer footer {
    padding-left: 10%;
    padding-right: 10%;
}
/* Footer and main content divider */
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.spacer {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* PRODUCT STYLES */
.single_product {
    /*padding: 24px;*/
    /*display: inline-block;*/
    width: 350px;
    /*border: solid 1px black;*/
    background: #F1F1F1;
    height: 25em;
    flex: 0 0 25%;
    padding: 0.5em;
    box-sizing: border-box;
}

.product-container {
    width: 100%;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-flow: wrap;
    align-content: start;
    background-color: #FFFFFF;
    padding: 1em;
    margin: 1em auto;
}
.product-details-img-div {

    width: 350px;
    border: 1px solid #555555;
}
.product-picture {
    width:100%;
}
.profile_product {
    width: 350px;
    background: #F1F1F1;
    height: 100%;
    flex: 0 0 25%;
    padding: 0.5em;
    box-sizing: border-box;
}
#filter-by {
    font-size: 0.8rem;
    float: right;
}
/* HERO BANNER STYLES */
.hero-banner {
    opacity: 0.5;
    /*position: absolute;*/
    z-index: 1;
    width: 100%;
    /*height: 600px;*/
    margin: 0 auto;
    right: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
/* Hero banner search bar */
.hero .search {
    width: 50%;
    margin-top: 4rem;
    margin-left: 4rem;
    position: absolute;
    vertical-align: middle;
    z-index: 2;
}

.hero .search input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #111;
    background: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    padding: 5px 5px 5px 47px;
    color: #555;
    position: relative;
    border-radius: 0;
}

.hero .search button {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #fff;
    background: #F26742;
    font-size: 22px;
    height: 40px;
    line-height: 38px;
    width: 40px;
    padding: 0;
    border: 0;
}

/* PROFILE PAGE STYLES */
.profile-img-container {
    width: 50px;
    height: auto;
}
.user-name {
    font-weight: bold;
}
.profile-img {
    float: left;
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
    margin-right: 0.5rem;
}
.profile-product-img {
    float: left;
    width: 64px;
    height: auto;
    object-fit: cover;
    margin-right: 0.5rem;
}
.profile-edit-product {
    display: inline-block;
}
.bio {

}