{% extends 'base.html' %}
{% block content %}
    <h2 class="product">Welcome to FireSale - products</h2>
    <div class="product-container">
        {% for product in products %}
            {% include 'product/single_product.html' with product=product %}
        {% endfor %}
    </div>
    <ul>  # Here we should but a select
        <li class="filters"><a class="filter_by" href="?sort=name">Sort:-- by name</a></li>
        <li class="filters"><a class="filter_by" href="?sort=l2h">Sort:--low to high price</a></li>
        <li class="filters"><a class="filter_by" href="?sort=h2l">Sort:-- high to low price</a></li>
    </ul>

{% endblock %}