{% extends "base.html" %}
{% block content %}
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>${{ product.price }}</p>

    {% for product_picture in product.picture_set.all %}
        <img class="product-picture" src="{{ product_picture.picture }}" alt="Picture of product"/>
    {% endfor %}
    <form method="GET" action="{% url 'place_bid' %}">
     <button type="submit" class="btn btn-primary"
             value="{{ product.id }}" name="product_id">Place Bid
     </button>
    </form>
{% endblock %}
