<div class="b-example-divider padding-top"></div>
<div class="fs-footer">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h5>Shop</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Categories</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Deals</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Price Drops</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Latest Products</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Handpick Collections</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Sell</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sell on FireSale!</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Forums</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Rules</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Support</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trust and Safety</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy settings</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
          <h5>About</h5>
          <p>FireSale is a new online marketplace where people can sell or buy used goods.</p>
          <p>Let´s help the environment, re-use and recycle. </p>

      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2022 Project Groups 44. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>