{% extends 'base.html' %}
{%  block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <h1>CHECKOUT - {{ wizard.steps.step1 }}/{{ wizard.steps.count }}</h1>
    <h4>CREDIT CARD!</h4>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
    {% endif %}
        <input type="submit" class="btn btn-primary" value="Next" />
    </form>
</div>

{% endblock %}