{% extends 'base.html' %}
{%  block content %}
    <h1>CHECKOUT - 3/3</h1>
    <h4>REVIEW & CONFIRM!</h4>
    <p>{{ forms.0.full_name }}</p>
    <p>{{ forms.0.street_name }}</p>
    <p>{{ forms.0.city }}</p>
    <p>{{ forms.0.zip }}</p>
    <p>{{ forms.0.CountryID }}</p>
    <p>{{ forms.1.cardholder }}</p>
    <p>{{ forms.1.bid }}</p>
    <p>Amount: €{{ bid.BidAmount }}</p>

    <form class="form form-horizontal" method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" value="">Confirm</button>
    </form>

{% endblock %}