<div class="row">
    <div class="col">
        <span>Product: <strong>{{ bid.ProductID.name }}</strong></span><br/>
        <span>Bid amount: <strong>€{{ bid.BidAmount }}</strong></span><br/>
        <span>Seller: <strong>{{ bid.ProductID.sellerID }}</strong></span>

    </div>
    <div class="col">

        {% if bid.StatusID.id == 2 %}
            <span class="text-success fw-bold">Status: {{ bid.StatusID }}</span><br/>
            <form action="{% url 'begin_check_out' bid.id %}" method="get">
                <input type="submit" value="Check-out"/>
            </form>
        {% elif bid.StatusID.id == 3 %}
            <span class="text-danger fw-bold">Status: {{ bid.StatusID }}</span><br/>
            <a href="{% url 'delete_bid' bid.id %}">Delete bid</a>
        {% else %}
            <span>Status: {{ bid.StatusID }}</span><br/>
            <a href="{% url 'delete_bid' bid.id %}">Cancel bid</a>
        {% endif %}
    </div>
    <hr/>
</div>